.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
main{
    background-image: ("../../images/dark-grey-bg.png");
    width: min(1200px, 90vw);
}
.slider1{
    /* width: 100%; */
    height: var(--height);
    overflow: hidden;
    mask-image: linear-gradient(
        to right,
        transparent,
        #000 10% 90%,
        transparent
    );

}
.slider1 .list1{
    display: flex;
    /* width: 100%; */
    display: flex;
    justify-content: space-between;
    /* min-width: calc(var(--width) * var(--quantity)); */
    /* position: relative; */
}

.item1{
   
    width: 100px;
    height: 200px;
  
}
.slider1 .list1 .item1 img{
    width: 100px;
    height: 100px;
}   

.container p{
    margin-bottom: 60px;
}
