.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: white; /* Adjust if needed */
    border-bottom: 1px solid #ddd;
  }
  
  .navbar-logo {
    display: flex;
    align-items: center;
  }
  
  .navbar-menu-icon {
    font-size: 24px;
    margin-right: 10px;
    cursor: pointer;
  }
  
  .navbar-brand {
    font-family: 'Rubik Doodle Shadow', cursive;
    font-weight: bold;
    font-size: 24px;
    color: black;
  }
  
  .navbar-links {
    list-style: none;
    display: flex;
    gap: 20px;
    position: fixed;
    left:30%;
    z-index: 1000;
    background-color: #ddd; 
    background-color: rgba(255, 255, 255, 0.5); /* Semi-transparent */
    backdrop-filter: blur(10px);
    border-radius: 50px;
    padding:  8px  20px;
  }
  
  .navbar-links li a {
    text-decoration: none;
    color: black;
    font-family: 'Arial', sans-serif;
    font-size: 14px;
    text-transform: uppercase;
  }
  
  .navbar-links li a:hover {
    color: #555; /* Hover color */
  }