footer {
  background: 
  linear-gradient(to right, #C4C4C4, #B5841D4D),
  url("https://s3-alpha-sig.figma.com/img/df2d/0a3c/42ecbb440a0c8d7cf2e6db496fb1dc79?Expires=1730073600&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=DyUE7SQT6LebWAqhoWsZEhJpCdFWC2jeYEtmQsoMdoZTp43TWugcATZvh6Mj9i6AiB~7uEaQub9pHd-SnDdn16Z1H23KDqbItj6ONraJMrdscSwhDLDXz4xqegtITeVuKlNLspEzOXcWItOn6adVhD1rljKRssfzXiOYC1Fl9KImGGutVCkWFRwZc8VZKAn2T~zWKS-RFErClYo6rEiFD0zQAq3tszTvxbbUBnPXsOpQBYXb6J7kzf8NbwQmgH5AHTX2bELL3WLIfutc8toBF4KJuS-Yg8fsik6wnvl3fcGOZbhUQ5Wi~DWCqS-3h8uSXUpJXPPD~jcM~Y0-5NDiNA__");
  background-size: cover;
   
    color: #fff; 
    padding: 3rem 5rem; 
    justify-content: space-between;
  }
  
  .container {
    max-width: 1280px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 1rem; /* Equivalent to px-4 */
    padding-right: 1rem;
  }
  
  @media (min-width: 640px) {
    .container {
      padding-left: 1.5rem; /* Equivalent to sm:px-6 */
      padding-right: 1.5rem;
    }
  }
  
  @media (min-width: 1024px) {
    .container {
      padding-left: 2rem; 
      padding-right: 2rem;
    }
  }
  
  .grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1.5rem; 
  }
  
  @media (min-width: 768px) {
    .grid {
      grid-template-columns: repeat(3, 1fr); 
    }
  }
  

  

  
  h2 {
    font-size: 1.5rem; 
    font-weight: 700; 
    margin-bottom: 1rem; 
  }
  
  p {
    color: white; 
  }
  
  .grid-cols-2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Equivalent to grid-cols-2 */
    gap: 1rem; /* Equivalent to gap-4 */
  }
  
  h3 {
    font-size: 1.125rem; /* Equivalent to text-lg */
    font-weight: 600; /* Equivalent to font-semibold */
    margin-bottom: 0.5rem; /* Equivalent to mb-2 */
  }
  
  ul {
    list-style-type: none;
  
  }
  
  li {
    margin-bottom: 0.5rem;
    margin-left: 1.5rem;
  }
  
  a {
    font-size: 18.61px;
    color: white; 
    text-decoration: none;
  }
  
  

  
  .flex {
    display: flex;
    align-items: center;
  }
  
  .space-x-4 > * + * {
    margin-left: 1rem; /* Equivalent to space-x-4 */
  }
  

  
  
  .font-awesome-icon {
    font-size: 1.5rem; 
  }
  